.contact-content{ /*contact */
        /* background-color: aquamarine; */
        /* height: 360px; */
        /* width: 200px; */
        height: 90vh;
        display: block;
        padding: 10px;
        position: relative;
        overflow: hidden;
        
    }
    
    .contact-content h2{
        color: white;
        font-weight: 100;
    }
    .contact-content::after{
        content: "";
        width: 100%;
        top: 0;
        height: 97vh;
        opacity:0.94;
        z-index: -1;
        position: absolute;
        /* background-image: url('/img/peakpx\ \(5\).jpg'); */
        background-image: url('/img/wallhaven-m9zdx9.png');
        
    }
    
    .form-box{  /*text-boxes*/
        display: flex;
        /* justify-content: center; */
        /* align-items: center; */
        flex-direction: row ;
}

.form-box input,textarea{
    font-size: 15px;
    padding: 11px 8px ;
    width: 120vh;
    border: 2px solid rgb(113, 18, 42);
    border-radius: 10px;
}

#contact-form-btn {
    font-size: 20px;
    margin-top: 10px;
    padding: 12px;
    width: 60vw; 
}
